header(class='d-flex justify-content-between' role='banner')
	nav(role='navigation')
		a(title='open menu').hamburger
		ul.page-menu.list-unstyled.flex-column.d-none
			span

	h3


	.custom-control.custom-switch.switch
		input#switcher.custom-control-input(type='checkbox' checked)
		label.custom-control-label(for='switcher')