// здесь стили для переопределения бутстрапа
@import '../../../node_modules/bootstrap/scss/bootstrap';

//====замена стилей для чекбокса
.custom-switch {
  padding-left: 0;
  padding-right: 3rem;
}

//todo сделать курсор картинкой
.custom-control-label::before,
.custom-control-label::after {
  cursor: pointer;
}

.custom-control-label {
  padding-left: 0;
}

.custom-switch .custom-control-label::before {
  width: 5rem;
  height: 2rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  content: 'train';
  padding-left: 11px;
  color: black;
  font-weight: bold;
  line-height: 33px;
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  border: 2px solid white;
}

.custom-control-input:not(:checked) ~ .custom-control-label::before {
  content: 'play';
  padding-left: 44px;
  line-height: 34px;
  color: white;
  font-weight: bold;
}

.custom-switch .custom-control-label::after {
  background: white;
  width: calc(2rem - 6px);
  height: calc(2rem - 8px);
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(2.95rem);
  border-radius: 0.3rem;
  top: calc(0.25rem + 4px);
  left: calc(-2.25rem + 3px);
}

.custom-control-label::before {
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  border: 2px solid white;
}

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 4px);
  left: calc(-2.25rem + 4px);
  border-radius: 0.3rem;
}
