body {
  max-width: 2480px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  background: #4bb570;
  color: black;
  margin: 0 auto;
  padding: 30px;
}
