@font-face {
  font-family: 'Exo';
  src: url('ular.eot');
  src: url('ular.eot?iefix') format('eot'),
    url('ular.woff') format('woff'),
    url('ular.ttf') format('truetype'),
    url('ular.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exo';
  src: url('d.eot');
  src: url('d.eot?iefix') format('eot'),
    url('d.woff') format('woff'), url('d.ttf') format('truetype'),
    url('d.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Exo';
  src: url('lic.eot');
  src: url('lic.eot?iefix') format('eot'),
    url('lic.woff') format('woff'),
    url('lic.ttf') format('truetype'),
    url('lic.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Exo-Thin';
  src: url('n.eot');
  src: url('n.eot?iefix') format('eot'),
    url('n.woff') format('woff'), url('n.ttf') format('truetype'),
    url('n.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('egular.eot');
  src: url('egular.eot?iefix') format('eot'),
    url('egular.woff') format('woff'),
    url('egular.ttf') format('truetype'),
    url('egular.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('old.eot');
  src: url('old.eot?iefix') format('eot'),
    url('old.woff') format('woff'),
    url('old.ttf') format('truetype'),
    url('old.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}
