.preloader.p-5
	h5.p-3.text-center Здравствуйте!
	p Прошу вас проверить работу в субботу, 25 апреля, пожалуйста,
		|  пока что не все успела сделать.
	p.font-weight-bold  Спасибо!
	p Если можете, то оставьте свои контакты, пожалуйста, при выставлении оценки
	.btn.btn-danger.text-center Хорошо

