.btn-play {
  width: 200px;
  height: 60px;
  display: block;
  margin: 30px;
  background: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  font-weight: bold;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
  font-size: 30px;
}

.row-star.col-12 {
  height: 50px;
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  width: content-box;
  justify-content: flex-end;
}

.star {
  flex-shrink: 0;
}
