footer(role='footer')
	a(class='telegram-link p-3' href='https://tlgg.ru/@adel_dubinnikova'
		title='telegram') Telegram
	a(class='github-link p-3' href='https://github.com/adelinyshka'
		title='github') Github
