main {
  min-height: calc(100vh - 80px);
  padding: 60px 20px 20px 20px;
}

table.table thead th {
  cursor: pointer;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active {
    color: #c44949;
  }
}

.btn-end {
  right: 18px;
  top: 16px;
  height: 42px;
  max-width: 100px;
  padding-top: 5px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}
