header(class='d-flex justify-content-between')
	nav
		a(title='open menu').hamburger
			| |||
		ul.page-menu.list-unstyled.flex-column.d-none
			li.p-1
				a(href='' title='link to category') to category 1
			li.p-1
				a(href='' title='link to category') to category 2
			li.p-1
				a(href='' title='link to category') to category 3


	.custom-control.custom-switch.switch
		input#customSwitch1.custom-control-input(type='checkbox')
		label.custom-control-label(for='customSwitch1')