main {
  perspective: 600px;
}

.scene {
  width: 13rem;
  margin: 20px 0;
  perspective: 600px;
}

.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
}

.card-animation-play {
  animation: show 200ms;
}

@keyframes show {
  0% {
    width: 0;
    height: 0;
    animation-timing-function: ease-in;
  }
  100% {
    width: 13rem;
    height: 140px;
    animation-timing-function: ease-out;
  }
}

.card-animation-h5 {
  animation: show-train-h5 600ms;
}

.card-animation-btn {
  animation: show-train-btn 600ms;
}

.card-animation-img {
  animation: show-train-img 600ms;
}

@keyframes show-train-h5 {
  0% {
    font-size: 0;
    animation-timing-function: ease-in;
  }
  100% {
    font-size: 1.25rem;
    animation-timing-function: ease-out;
  }
}

@keyframes show-train-btn {
  0% {
    font-size: 0;
    padding: 0;
    width: 0;
    height: 0;
    animation-timing-function: ease-in;
  }
  100% {
    font-size: 30px;
    padding: 5px;
    width: 70px;
    height: auto;
    animation-timing-function: ease-out;
  }
}

@keyframes show-train-img {
  0% {
    width: 0;
    animation-timing-function: ease-in;
  }
  100% {
    width: 100%;
    animation-timing-function: ease-out;
  }
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &:hover,
  &:focus {
    transition: transform 1s;
    transform: scale(1.1);
  }
}

.card-face.front {
  border-radius: 20px;
}

.card-face.back {
  transform: rotateY(180deg);
  background: #f4ba49;
  border-radius: 20px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.btn-turn {
  font-size: 30px;
  padding: 5px;
  width: 70px;
  border-radius: 20%;
  border: 2px solid white;
}

//------- category card
.category-card {
  color: black;
  font-size: 40px;

  &:hover,
  &:focus {
    transition: transform 1s;
    transform: scale(1.1);
  }

  &:active {
    background: #c44949;
    box-shadow: none;
    color: red;
  }
}

.category-card .card-face {
  padding: 20px;
}

.card-img-top {
  border-radius: 18px;
}

.title-inside {
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
}
