.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-face.front {
  background: wheat;
}

.card-face.back {
  background: blue;
  transform: rotateY(180deg);
}

.card-face.is-flipped {
  transform: rotateY(180deg);
}

.btn-turn {
  font-size: 30px;
  padding: 5px;
  width: 70px;
}

//------- category card
.category-card {
  background: #fe5e5e;
  color: black;
  font-size: 40px;

  &:hover,
  &:focus {
    box-shadow: 5px 5px 8px navajowhite;
  }

  &:active {
    background: #c44949;
    box-shadow: none;
    color: white;
  }
}

.category-card .card-face {
  padding: 20px;
}
