nav {
  position: relative;
}

header nav a.hamburger {
  display: inline-block;
  transform: rotate(90deg);
  outline: none;
  text-decoration: none;
  font-weight: bold;
  color: white !important;
  font-size: 35px;
  position: relative;
  z-index: 7;
  cursor: pointer;

  &:after {
    content: '|||';
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    color: aqua;
    outline: none;
    text-decoration: none;

    &:after {
      content: '×';
    }
  }
}

.page-menu {
  position: absolute;
  z-index: 5;
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  border-radius: 79%;
  left: -176px;
  padding: 110px 20px 20px 175px;
  height: 500px;
  width: 404px;
  top: -50px;
  color: white;
  animation: hello 0.5s linear;

  & span {
    display: inline-block;
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    position: absolute;
    width: 100px;
    height: 100px;

    bottom: -95px;

    border-top-left-radius: 150%;

    transform: rotate(226deg);

    right: 160px;

    z-index: 2;
  }
}

@keyframes hello {
  from {
    left: -270px;
  }
  to {
    left: -176px;
  }
}

ul.page-menu li a {
  text-decoration: none;
  outline: none;
  color: black;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: grey;
    text-decoration: none;
    outline: none;
  }
}
//
//.wrapper-blur {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  margin: -30px;
//  filter: blur(10px);
//  z-index: 10;
//}
//
//.preloader {
//  border-radius: 16px;
//  box-shadow: 20px 20px 20px grey;
//  width: 95%;
//  height: max-content;
//  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
//  padding: 30px;
//  text-align: center;
//  z-index: 999;
//  position: absolute;
//}

.btn.btn-danger {
  cursor: pointer;
  max-height: 40px;
}

.trainColor {
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  color: black;

  & span {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  }
}

.final-page {
  border-radius: 16px;
  box-shadow: 20px 20px 20px grey;
  width: 100%;
  height: max-content;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  padding: 30px;
  text-align: center;
  z-index: 999;
  position: absolute;
  min-height: 400px;
  max-height: 95%;
  font-family: 'Exo', sans-serif;
  margin: -20px;

  & span {
    color: grey;
    font-size: 50px;
    display: flex;
    justify-content: right;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus,
    &:active {
      color: black;
      cursor: pointer;
      outline: none;
    }
  }
}

.final-img.goodResult {
  background: url('./../../assets/img/yesGif2.gif');
  width: 200px;
  height: 200px;
  display: inline-block;
}

.final-img.badResult {
  background: url('./../../assets/img/NoGif.gif');
  width: 250px;
  height: 319px;
  display: inline-block;
}

.active-link {
  font-weight: bold;
  color: #121a7f;
}
