header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #dd2d5d;
  z-index: 2;
}

nav {
  position: relative;
  padding-top: 10px;
}

header nav a.hamburger {
  display: inline-block;
  transform: rotate(90deg);
  outline: none;
  text-decoration: none;
  font-weight: bold;
  color: #ffdd76 !important;
  font-size: 35px;
  position: fixed;
  z-index: 7;
  cursor: pointer;

  &:after {
    content: '|||';
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: white !important;
  }
}

header nav a.hamburger.inside {
  &:after {
    content: '×';
    display: inline-block;
    width: 50px;
    height: 50px;
    color: white !important;
  }
}

.page-menu {
  position: fixed;
  z-index: 5;
  background: #dd2d5d;
  border-radius: 79%;
  left: -176px;
  padding: 89px 20px 20px 182px;
  height: 500px;
  width: 404px;
  top: -50px;
  color: white;
  animation: hello 0.5s linear;

  & span {
    display: inline-block;
    background: #dd2d5d;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -95px;
    border-top-left-radius: 150%;
    transform: rotate(226deg);
    right: 160px;
    z-index: 2;
  }
}

@keyframes hello {
  from {
    left: -270px;
  }
  to {
    left: -176px;
  }
}

ul.page-menu li a {
  text-decoration: none;
  outline: none;
  color: black;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: grey;
    text-decoration: none;
    outline: none;
  }
}

.btn.btn-danger {
  cursor: pointer;
  max-height: 40px;
}

.trainColor {
  background: #0b95cc;
  color: white;

  & span {
    background: #0b95cc;
  }
}

.final-page {
  border-radius: 16px;
  box-shadow: 20px 20px 20px grey;
  width: 100%;
  height: 100%;
  background: white;
  padding: 30px;
  text-align: center;
  z-index: 999;
  position: absolute;
  font-family: 'Exo', sans-serif;
  margin: -72px -20px -20px;

  & span {
    color: grey;
    font-size: 50px;
    display: flex;
    outline: none;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 20px;

    &:hover,
    &:focus,
    &:active {
      color: black;
      cursor: pointer;
      outline: none;
    }
  }
}

.final-img.goodResult {
  background: url('./../../assets/img/GoodEnd.jpg');
  width: 300px;
  height: 430px;
}

.final-img.badResult {
  background: url('./../../assets/img/badEnd.jpg');
  width: 300px;
  height: 240px;
}

.page-menu li.p-1 {
  &:hover,
  &:focus,
  &:active {
    color: #ffdd76;
  }
}
