header(class='d-flex justify-content-between')
	nav
		a(title='open menu').hamburger
		ul.page-menu.list-unstyled.flex-column.d-none
			span


	.custom-control.custom-switch.switch
		input#switcher.custom-control-input(type='checkbox')
		label.custom-control-label(for='switcher')