body {
  max-width: 2480px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  //background: rgba(206, 199, 232, 0.59);
  background: url('./../../assets/img/green_dust_scratch_.png') repeat;
  color: black;
  margin: 0 auto;
  padding: 30px;
}

#playPage,
#trainPage {
  //padding-left: 200px;
}
