extends site_blocks/template/template

block content
	//.preloader.p-5
	//	h5.p-3.text-center Здравствуйте!
	//	p Прошу вас проверить работу не раньше субботы, 25 апреля, пожалуйста,
	//		|  пока что не все успела сделать.
	//	p.font-weight-bold  Спасибо!
	//	p Если можете, то оставьте свои контакты, пожалуйста, при выставлении оценки
	//	.btn.btn-danger.text-center Хорошо


	div#containerApp
		include site_blocks/header/header
		.final-page.d-none
			span ×
			h1.text-danger.font-weight-bold Ваши результаты

		div#trainPage.d-none
			.container-fluid
				.row#rowWithCardsCategoryForTrain

		div#playPage.d-none
			audio#yes(src='./assets/audio/yes.mp3')
			audio#no(src='./assets/audio/nope.mp3')
			.container-fluid
				.row#rowWithCardsCategoryForPlay
