extends site_blocks/template/template

block content

	div#containerApp
		include site_blocks/header/header

		.final-page.d-none
			span ×
			h1.text-danger.font-weight-bold Ваши результаты

		main(role='main')
			div#statistics.d-none
				h1 Statistic
				.d-flex.justify-content-center
					input.btn-secondary.m-2.text-center.p-2.bold(value='reset'
style='border-radius:8px;cursor:pointer;')
					input.btn-warning.m-2.text-center.p-2(value='train difficult ' +
'words'	style='border-radius:8px;font-weight: bold;cursor:pointer;')
				.table-responsive
					table.table
						thead
							tr
								th(scope='col') category
								th(scope='col') word
								th(scope='col') translation
								th(scope='col') train mode
								th(scope='col') play mode
								th(scope='col') right
								th(scope='col') wrong
								th(scope='col') wrong %
						tbody


			div#trainPage.d-none
				.container-fluid
					.row#rowWithCardsCategoryForTrain

			div#playPage.d-none
				audio#yes(src='./assets/audio/yes.mp3')
				audio#no(src='./assets/audio/nope.mp3')
				audio#goodEnd(src='./assets/audio/goodEnd.mp3')
				audio#badEnd(src='./assets/audio/badEnd.mp3')
				.container-fluid
					.row#rowWithCardsCategoryForPlay

		include site_blocks/footer/footer
