extends site_blocks/template/template
include site_blocks/card/card

block content
	include site_blocks/header/header

	div#container
		div#trainPage.d-none

			.container-fluid
				h1 Im TrainPage
				.row#rowWithCardsCategory
					//.col-3
					//	+categoryCard('Animals','./assets/img/animals.png','animals')
					//.col-3
					//	+categoryCard('Colors','./assets/img/watermelon.png','colors')
					//.col-3
					//	+categoryCard('Toys')
					//.col-3
					//	+categoryCard('Tales')


		div#playPage.d-none
			h1 Im PlayPage


		div.d-none#insideCategoryAnimals
			h1 Im TrainPage inside Category
			.row
				//.col-3
				//	+card('hello','привет','./assets/img/watermelon.png')
				//.col-3
				//	+card('bye','пока','./assets/img/watermelon.png')
				//.col-3
				//	+card()
				//.col-3
				//	+card()
