extends site_blocks/template/template
include site_blocks/card/card

block content
	include site_blocks/header/header

	div#container
		div#trainPage.d-none
			.container-fluid
				h1 Im TrainPage
				.row#rowWithCardsCategory


		div#playPage.d-none
			.container-fluid
				h1 Im Play Page
				.row#rowWithCardsCategoryForPlay



		//div.d-none#insideCategoryAnimals
		//	h1 Im TrainPage inside Category
		//	.row